{% extends "base.html" %}
{% load crispy_forms_tags % }
{% block content %}


{% block page_title %}
<h2 class="display-6">Edit Entry</h2>
{% endblock page_title%}
<div class="container mt-3">

    <form action="{% url 'edit_music' edit_score.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
        <input class="form-control"  name='title' type="text" value = '{{ edit_score.title }}' placeholder="Title"></p>
        </div>
        <div class="form-group">
        <input class="form-control" name='description' type="text" value = '{{ edit_score.description}}' placeholder="Description" ></p>
        </div>
        <div class="form-group">
        <input class="form-control" name='is_set' type="text" value = '{{ edit_score.is_set}}' placeholder="Is_Set" ></p>
        </div>

        <button type="submit" class="btn btn-secondary">Save Update</button>
        <a href="{% url 'delete_tune' edit_score.id %}">Delete song</a>
    </form>

</div>
<br><br>
{% endblock content %}