{{% extends "base.html" %}
{% block content %}
{% load static %}


{% block page_title %}
<div class="row"><h2>Useful Links</h2></div>
{% endblock page_title%}

<div class="table-responsive">
 
<table class="table table-striped">
    <thead>
        <th scope=""col>Description</th>
        <th scope=""col>Link</th>

    </thead>
    <tbody>
{% for link in links %}  
            <tr>
                <td scope="row"><small>{{ link.description }}</small></td>
                <td scope="row"><a href="{{ MEDIA_URL}}{{link.link_name}}" class="btn btn-secondary btn-sm" target="-blank">Click Here</a></td>
            </tr>
    </tbody>
{% endfor %}    
</table>


</div>
{% endblock content %}