{% extends "base.html" %}
{% block content %}
{% load static %}


{% block page_title %}
<h2>Music Catalogue</h2>
{% endblock page_title%}
{% include 'search_music.html' %}
<div class="table-responsive">
    
<table class="table table-striped">
    <thead>
        <th scope=""col>Title</th>
        <th scope=""col>Description</th>
        <th scope=""col>Set</th>
        <th scope=""col>File</th>
        <th>Edit</th>
    </thead>
    <tbody>
        {% for tune in score|dictsort:"title" %}
            <tr>
                <td scope="row">{{ tune.title }}</td>
                <td scope="row">{{ tune.description }}</td>
            {% if tune.is_set %}
                <td scope="row">Yes</td>
            {% else %}
                <td scope="row">No</td>
            {% endif %}

            <td scope="row"><a href="{{ MEDIA_URL}}{{tune.file}}" class="btn btn-secondary btn-sm" target="-blank">Download PDF</a></td>

            <td scope="row"><a href="{% url 'edit_music' tune.id %}" class="btn btn-secondary btn-sm">Edit</a></td></td>
            </tr>

        {% endfor %}
    </tbody>
</table>


</div>
{% endblock content %}