{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div Class="container mt-2">

    {% block page_title %}
    <h2>Sign up</h2>
    {% endblock page_title%}

   
        <form method="post">

            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    {{ form.username|as_crispy_field }}
                </div>
            </div>
            <div class="row">  
                <div class="col-6">
                {{ form.first_name|as_crispy_field}}
                </div> 
    
                <div class="col-6">
                {{ form.last_name|as_crispy_field }}
                </div>
            </div>         
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.email|as_crispy_field }}
                </div> 
            </div>
            <div class="row">  
                <div class="col-6">
                {{ form.password1|as_crispy_field}}
                {{ form.password.errors}}
                </div>
                <div class="col-6">
                {{ form.password2|as_crispy_field}}
                </div>
                <div class="col-6">
                {{ form.moderator|as_crispy_field}}
                </div>
            </div>
            <div>
           <input class="btn btn-secondary" type="submit" value="Sign Up">
            </div>
            </form>









    <p>
        <a href="{% url 'index' %}">Back to dashboard</a>
    </p>
</div>
{% endblock content %}