{% extends 'base.html' %}

{% block content %}

{% block page_title %}
<h2>Update Password</h2>
{% endblock page_title%}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="container mt-2">
<form action="{% url 'update_password' %}" method="POST">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-secondary">Update Password</button>
<!--<a href="{% url 'update_password' %}" class="btn btn-secondary">Update Password</a> -->
</form>
</div>
<br>

{% endblock content %}