{% extends "base.html" %}
{% load crispy_forms_tags % }
{% block content %}


{% block page_title %}
<h2>Update Song</h2>
{% endblock page_title%}

<div class = "card-body">

{{ Songs.title }}
    <form action ="" method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <input type="file" id="myfile" name="update_file" enctype="multipart/form-data">
            </div>
            <br>
            <div class="row">
                <button type="submit" class="btn btn-secondary btn-sm" >Update Now</button>
            </div>
        </div>
    </form>

</div>

<br><br>
{% endblock content %}