{% extends "base.html" %}
{% block content %}
{% load static %}


{% block page_title %}
<div class="row"><h2 class="display-6">Set List</h2></div>
{% endblock page_title%}



<div class="table-responsive">
    
<table class="table table-striped">
    <thead>
        
        <th scope="col">Tune Title</th>
        <th scope="col">Order</th>

    </thead>
    <tbody>
        
        {% for item in items %}
        <h2>{{ item.set }}</h2>

                <tr>               
                    
                    <td scope="row"><small>{{ item.song }}</small></td>
                    <td scope="row">{{ item.order }}</td>
                    
                </tr>
                

        {% endfor %}
    </tbody>
</table>


<br>
</div>
{% endblock content %}