body {
   background-image: url('Instruments.png');
   opacity:1;
   background-blend-mode: normal;
   background-size: cover;  
   min-height: 100vh;
}


.container-fluid{
  max-width: 85%;
  min-height: 95%;
}

.pt-5 {
   background-color: blanchedalmond;
   min-height: 25em;
   padding-top: 10px;
}

 .h1 {
    color: rgb(95, 53, 2);
 } 


 #heading{
   background-color: blanchedalmond;
 }

 .card-img-top{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .card-title{
   font-size: 1rem;
   font-weight: 900;
 }

 .card-text{
   font-size: 0.75rem;
 }

.dropdown-item{
  color:white;
}
